html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
}

* {
  font-family: "Open Sans", sans-serif !important;
}

div span {
  color: red;
}
.form-row {
  margin-bottom: 5%;
}
.actionButton {
  justify-content: space-around;
}
.online-user-list {
  cursor: pointer;
}
ul {
  list-style: none !important;
}
table {
  display: flex;
  justify-content: center;
}
td {
  padding: 5px;
}
.text-red {
  color: red;
}
.actionButton {
  justify-content: space-around;
}
.pause-catalog {
  opacity: 0.4;
  z-index: 5;
  background-color: rgb(196, 190, 190);
  position: relative;
}
.pause-catalog .pause-dialog {
  position: absolute;
  top: 48%;
  width: 100%;
  z-index: 10;
  opacity: 1;
  font-weight: 900;
  font-size: 20px;
  display: block !important;
  color: red;
  background-color: white;
  border: 2px solid darkgrey;
}
.pause-dialog {
  display: none;
}
